<h1 class = "title">利用規約</h1>
<div class = "intro">Kitakits.meへようこそ!
  この利用規約は、https://kitakits.me にある Kitakits.me の Web サイトの使用に関する規則と規制を定めています。
  このウェブサイトにアクセスすることにより、お客様はこれらの利用規約に同意したものとみなされます。お客様には、本規約に従って、本サービスをご利用いただきます。
  以下の用語は、本利用規約、プライバシー ポリシー、免責事項、およびすべての契約に適用されます。
  「クライアント」、「お客様」および「お客様の」は、この Web サイトにログインし、Kitakits.meの利用規約に準拠しているお客様を指します。
  「会社」、「当社自身」、「私たち」、「当社の」および「弊社」は、弊社を指します。「当事者」、「当事者ら」または「弊社」は、クライアントと弊社の両方を指します。
</div>
<h3 class = "topics">Cookies</h3>
<div class="contents">
  <p>当社はクッキーを使用しています。Kitakits.me にアクセスすることにより、お客様は Kitakits.me のプライバシー ポリシーに同意し、Cookieを使用することに同意したことになります。
    ほとんどのインタラクティブなウェブサイトでは、各訪問のユーザーの詳細を取得できるように Cookie を使用しています。Cookie は、当社のウェブサイトで特定の領域の機能を有効にして、ウェブサイトを訪問するユーザーの利便性を高めるために使用されます。当社のアフィリエイト/広告パートナーの一部も Cookie を使用する場合があります。
  </p>
  <h3 class = "topics">知的財産権</h3>
  <p>別途記載がない限り、Kitakits.me および/またはその正当な権利者は、Kitakits.me 上のすべての資料（以下「コンテンツ」といいます）に対する著作権またはその他知的財産権を所有します。
    お客様は、本利用規約に定められた制限に従って、個人的な使用のために、Kitakits.me からこれにアクセスできます。
    お客様は、本サービスの利用にあたり、以下の行為をしてはならないものとします。
  </p>
  <ul>
    <li>Kitakits.me からの資料を再公開する</li>
    <li>Kitakits.me の素材を販売、貸与、またはサブライセンスする</li>
    <li>Kitakits.me の資料を複製、複写、コピーする</li>
    <li>Kitakits.me のコンテンツを再配布する</li>
  </ul>
  <p>このウェブサイトの一部では、お客様がウェブサイトの特定のエリアに意見や情報を投稿したり交換したりする機会を提供しています。Kitakits.me は、コメントがウェブサイトに掲載される前に、コメントをフィルタリング、編集、公開、または確認することはありません。コメントは、Kitakits.me、その代理店、および/または関連会社の見解や意見を反映するものではありません。コメントは、その見解や意見を投稿した人の見解や意見を反映しています。適用法で認められる範囲において、Kitakits.me は、コメント、またはこのウェブサイトでのコメントの使用、投稿、および/または表示の結果として生じた、または被ったいかなる責任、損害、または費用についても責任を負いません。
    Kitakits.me は、すべてのコメントを監視し、不適切、不快、または本利用規約に違反すると思われるコメントを削除する権利を留保します。
    お客様は以下のことを保証し、表明するものとします。
    <ul>
      <li>お客様は当社のウェブサイトにコメントを投稿する権利を有し、そのために必要なすべてのライセンスと同意を有します。</li>
      <li>コメントは、第三者の著作権、特許、商標を含むがこれらに限定されない、いかなる知的財産権も侵害するものではありません。</li>
      <li>コメントには、名誉毀損、中傷、不快、わいせつ、またはプライバシーの侵害となる違法な内容は含まれません。</li>
      <li>コメントは、ビジネスや顧客の勧誘、商業活動の宣伝、または違法な活動を行うために使用されることはありません。</li>
    </ul>
    お客様は、Kitakits.meに対し、お客様のコメントをあらゆる形態、形式、または媒体で使用、複製、編集し、他者に対しても使用、複製、編集を許可する非独占的なライセンスをここに付与します。
  </p>
  <h3 class = "topics">当社のコンテンツへのハイパーリンク</h3>
  <p>以下の組織は、事前の書面による承認なしに当社の Web サイトにリンクすることができます。
    <ul>
      <li>政府機関</li>
      <li>サーチエンジン</li>
      <li>報道機関</li>
      <li>オンラインディレクトリの配信業者は、他のリストされた企業のウェブサイトにハイパーリンクするのと同じ方法で、当社のウェブサイトにリンクすることができます。</li>
      <li>システム全体の認定企業。ただし、当社の Web サイトにハイパーリンクできない、非営利団体、慈善ショッピング モール、慈善募金グループなどの勧誘活動は除きます。</li>
    </ul>
    これらの組織は、リンクが (a) いかなる点においても虚偽でないこと、(b) リンク元およびその製品やサービスに対するスポンサーシップ、支持、承認を偽って示唆していないこと、(c) リンク元のサイトの文脈に適合していることを条件として、当社のホームページ、出版物、またはその他の Web サイト情報にリンクすることができます。
    当社は、以下の種類の組織からのリンクリクエストを検討し、承認する場合があります。
    <ul>
      <li>一般に知られている消費者および/またはビジネス情報源</li>
      <li>ドットコムコミュニティサイト</li>
      <li>慈善団体を代表する協会またはその他のグループ</li>
      <li>オンラインディレクトリ配信業者</li>
      <li>インターネットポータル</li>
      <li>会計、法律、コンサルティング会社</li>
      <li>教育機関および業界団体</li>
    </ul>
    当社は、以下の条件を満たす場合、これらの組織からのリンクリクエストを承認します。(a) リンクが当社または当社の認定企業に対して好ましくない印象を与えないと判断した場合 (b) 組織が当社に対してネガティブな記録を持っていない場合 (c) ハイパーリンクの可視性による当社への利益が、Kitakits.meの不在を補う場合 (d) リンクが一般的なリソース情報の文脈にある場合
    これらの組織は、以下の条件を満たす限り、当社のホームページへのリンクをすることができます。
    (a) リンクがいかなる方法でも誤解を招かないこと (b) リンク先の団体およびその製品やサービスのスポンサーシップ、支持、または承認を偽って示唆しないこと (c) リンク先の団体のサイトの文脈に適合していること
    上記に記載されている組織の いずれかであり、当社の Web サイトへのリンクに関心がある場合は、Kitakits.me にメールでご連絡ください。氏名、組織名、連絡先情報、サイトの URL、当社のウェブサイトへのリンクを希望するURLのリスト、および当社のサイト上でリンクを希望するURLのリストを含めてください。返信には2〜3週間かかる場合があります。
    承認された組織は、以下のように当社のウェブサイトへのハイパーリンクを設置することができます。
    <ul>
      <li>当社の法人名を使用することによって</li>
      <li>ハイパーリンクを設置する統一リソースロケータ（URL）を使用することによって</li>
      <li>ハイパーリンクを設置する場合に、リンク元のサイトのコンテンツの文脈と形式内で意味のある当社のウェブサイトの説明を使用することによって</li>
    </ul>
    Kitakits.meのロゴやその他のアートワークをリンクに使用することは、商標ライセンス契約がない限り許可されません。
  </p>
  <h3 class = "topics"> iフレーム</h3>
  <p>事前の承認および書面による許可がない限り、当社の Web ページの周囲にフレームを作成して、当社の Web サイトの視覚的な表示や外観を何らかの形で変更することはできません。</p>
  <h3 class = "topics">コンテンツ責任</h3>
  <p>当社は、お客様のウェブサイトに掲載されるいかなるコンテンツについても責任を負いません。お客様は、お客様のウェブサイトで生じるすべての申し立てに対して当社を保護し、弁護することに同意するものとします。いかなるリンクも、名誉毀損、わいせつ、犯罪的と解釈される可能性があるウェブサイトに表示されてはならず、また第三者の権利を侵害し、その他に違反したり、侵害を推奨するものであってはなりません。
  </p>
  <h3 class = "topics">お客様のプライバシー</h3>
  <p>プライバシーポリシーをお読みください</p>
  <h3 class = "topics">権利の留保</h3>
  <p>当社は、当社ウェブサイトへのすべてのリンクまたは特定のリンクを削除するよう要求する権利を留保します。お客様は、要求に応じて当社ウェブサイトへのすべてのリンクをただちに削除することに同意するものとします。当社はまた、いつでもこれらの利用規約およびリンクポリシーを修正する権利を留保します。当社ウェブサイトに継続的にリンクすることにより、お客様はこれらのリンク利用規約に拘束され、それに従うことに同意するものとします。
    また、当社は，お客様に通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし，これによってお客様に生じた損害について一切の責任を負いません。
  </p>
  <h3 class = "topics">当社のウェブサイトからのリンクの削除</h3>
  <p>何らかの理由で当社ウェブサイト上で不快なリンクを見つけた場合は、いつでも当社に連絡して通知することができます。当社はリンクの削除要請を検討しますが、そうする義務やお客様に直接返信する義務はありません。
    当社は、本ウェブサイト上の情報が正確であること、その完全性または正確性を保証するものではありません。また、本ウェブサイトが引き続き利用可能であること、または本ウェブサイト上の資料が最新の状態に保たれていることを保証するものではありません。
  </p>
  <h3 class = "topics">免責事項</h3>
  <p>適用法で許容される範囲内で、当社は当ウェブサイトおよびその使用に関連するすべての表明、保証、および条件を除外します。この免責事項には以下の内容が含まれません。
    <ul>
      <li>死亡または身体障害に対する当社または貴方の責任を制限または除外することはありません。</li>
      <li>詐欺または詐欺的な虚偽表示に対する当社または貴方の責任を制限または除外することはありません。</li>
      <li>適用法において許容されていない方法で当社または貴方のいずれかの責任を制限することはありません。</li>
      <li>適用法において除外することができない当社または貴方のいずれかの責任を除外することはありません。</li>
    </ul>
    このセクションおよび本免責事項の他の箇所に定められている責任の制限および禁止は、(a) 前項に従うものとし、(b) 契約、不法行為、法定義務違反により生じる責任を含む、免責事項に基づいて生じるすべての責任に適用されます。
    ウェブサイトおよびウェブサイト上の情報やサービスが無料で提供されている限り、当社はいかなる損失や損害についても責任を負いません。
  </p>
  <h3 class = "topics">準拠法・裁判管轄</h3>
  <p>
    本規約の解釈にあたっては，日本法を準拠法とします。本サービスに関して紛争が生じた場合には，当社の本店所在地を管轄する裁判所を専属的合意管轄裁判所とします。
  </p>
</div>
