<h1 class = "title">Mga Tuntunin at Kundisyon</h1>
<div class = "intro">Maligayang pagdating sa Kitakits.me!
  Binabalangkas ng mga tuntunin at kundisyon na ito ang mga tuntunin at regulasyon para sa paggamit ng Website ng Kitakits.me, na matatagpuan sa https://kitakits.me.
  Sa pamamagitan ng pag-access sa website na ito, ipinapalagay namin na tinatanggap mo ang mga tuntunin at kundisyon na ito. Huwag magpatuloy sa paggamit ng Kitakits.me kung hindi ka sumasang-ayon na kunin ang lahat ng mga tuntunin at kundisyon na nakasaad sa pahinang ito.
  Ang mga sumusunod na terminolohiya ay nalalapat sa Mga Tuntunin at Kundisyon na ito, Pahayag sa Pagkapribado at Paunawa sa Pagtatatwa at lahat ng Kasunduan: "Kliyente", "Ikaw" at "Iyo" ay tumutukoy sa iyo, ang taong nag-log sa website na ito at sumusunod sa mga tuntunin at kundisyon ng Kumpanya. Ang "Ang Kumpanya", "Ating Sarili", "Kami", "Amin" at "Kami", ay tumutukoy sa aming Kumpanya. Ang "Partido", "Mga Partido", o "Kami", ay tumutukoy sa Kliyente at sa ating sarili.
</div>
<h3 class = "topics">Mga cookies</h3>
<div class="contents">
  <p>WGinagamit namin ang paggamit ng cookies. Sa pamamagitan ng pag-access sa Kitakits.me, sumang-ayon kang gumamit ng cookies ayon sa Patakaran sa Privacy ng Kitakits.me.
    Karamihan sa mga interactive na website ay gumagamit ng cookies upang hayaan kaming makuha ang mga detalye ng user para sa bawat pagbisita. Ang cookies ay ginagamit ng aming website upang paganahin ang functionality ng ilang mga lugar upang gawing mas madali para sa mga taong bumibisita sa aming website. Ang ilan sa aming mga kaakibat/kasosyo sa advertising ay maaari ring gumamit ng cookies.
  </p>
  <h3 class = "topics">Karapatang Ari-ariang Intelektwal</h3>
  <p>Maliban kung iba ang nakasaad, ang Kitakits.me at/o ang mga tagapaglisensya nito ay nagmamay-ari ng mga karapatan sa intelektwal na ari-arian para sa lahat ng materyal sa Kitakits.me. Lahat ng mga karapatan sa intelektwal na ari-arian ay nakalaan. Maaari mong i-access ito mula sa Kitakits.me para sa iyong sariling personal na paggamit na napapailalim sa mga paghihigpit na itinakda sa mga tuntunin at kundisyon na ito.
    Hindi mo dapat:
  </p>
  <ul>
    <li>Muling i-publish ang materyal mula sa Kitakits.me</li>
    <li>Magbenta, magrenta o mag-sub-license ng materyal mula sa Kitakits.me</li>
    <li>I-reproduce, i-duplicate o kopyahin ang materyal mula sa Kitakits.me</li>
    <li>Muling ipamahagi ang nilalaman mula sa Kitakits.me</li>
  </ul>
  <p>Ang mga bahagi ng website na ito ay nag-aalok ng pagkakataon para sa mga gumagamit na mag-post at makipagpalitan ng mga opinyon at impormasyon sa ilang mga lugar ng website. Ang Kitakits.me ay hindi nagsasala, nag-e-edit, nag-publish o nagsusuri ng Mga Komento bago ang kanilang presensya sa website. Ang mga komento ay hindi sumasalamin sa mga pananaw at opinyon ng Kitakits.me, mga ahente nito at/o mga kaakibat. Ang mga komento ay sumasalamin sa mga pananaw at opinyon ng taong nagpo-post ng kanilang mga pananaw at opinyon. Sa lawak na pinahihintulutan ng mga naaangkop na batas, ang Kitakits.me ay hindi mananagot para sa Mga Komento o para sa anumang pananagutan, pinsala o gastos na dulot at/o dinanas bilang resulta ng anumang paggamit ng at/o pag-post ng at/o paglitaw ng Mga Komento sa website na ito.
    Inilalaan ng Kitakits.me ang karapatang subaybayan ang lahat ng Mga Komento at alisin ang anumang Mga Komento na maaaring ituring na hindi naaangkop, nakakasakit o nagdudulot ng paglabag sa Mga Tuntunin at Kundisyon na ito.
    Ginagarantiyahan at kinakatawan mo iyon:
    <ul>
      <li>May karapatan kang i-post ang Mga Komento sa aming website at mayroon kang lahat ng kinakailangang lisensya at pahintulot upang gawin ito</li>
      <li>Hindi sinasalakay ng Mga Komento ang anumang karapatan sa intelektwal na ari-arian, kabilang ang walang limitasyong copyright, patent o trademark ng anumang third party</li>
      <li>Ang Mga Komento ay hindi naglalaman ng anumang mapanirang-puri, libelo, nakakasakit, malaswa o kung hindi man labag sa batas na materyal na isang pagsalakay sa privacy</li>
      <li>Ang Mga Komento ay hindi gagamitin upang manghingi o magsulong ng negosyo o custom o magpakita ng mga komersyal na aktibidad o labag sa batas na aktibidad.</li>
    </ul>
    Sa pamamagitan nito, binibigyan mo ang Kitakits.me ng isang hindi eksklusibong lisensya upang gumamit, magparami, mag-edit at magbigay ng awtorisasyon sa iba na gamitin, kopyahin at i-edit ang alinman sa iyong mga Komento sa anuman at lahat ng anyo, format o media.
  </p>
  <h3 class = "topics">Pag-hyperlink sa aming Nilalaman</h3>
  <p>Ang mga sumusunod na organisasyon ay maaaring mag-link sa aming Website nang walang paunang nakasulat na pag-apruba:
    <ul>
      <li>Mga ahensya ng gobyerno</li>
      <li>Mga search engine</li>
      <li>Mga organisasyon ng balita</li>
      <li>Ang mga distributor ng online na direktoryo ay maaaring mag-link sa aming Website sa parehong paraan kung paano sila nag-hyperlink sa mga Website ng iba pang mga nakalistang negosyo</li>
      <li>System wide Accredited Businesses maliban sa paghingi ng mga non-profit na organisasyon, charity shopping mall, at charity fundraising group na maaaring hindi nag-hyperlink sa aming Web site</li>
    </ul>
    Ang mga organisasyong ito ay maaaring mag-link sa aming home page, sa mga publikasyon o sa iba pang impormasyon sa Website hangga't ang link ay: (a) ay hindi sa anumang paraan mapanlinlang; (b) hindi maling nagpapahiwatig ng pag-sponsor, pag-endorso o pag-apruba ng nagli-link na partido at mga produkto at/o serbisyo nito; at (c) umaangkop sa loob ng konteksto ng site ng nagli-link na partido.
    Maaari naming isaalang-alang at aprubahan ang iba pang mga kahilingan sa pag-link mula sa mga sumusunod na uri ng mga organisasyon:
    <ul>
      <li>ckaraniwang kilalang mga mapagkukunan ng impormasyon ng consumer at/o negosyo</li>
      <li>mga site ng komunidad ng dot.com</li>
      <li>asosasyon o iba pang grupo na kumakatawan sa mga kawanggawa</li>
      <li>mga distributor ng online na direktoryo</li>
      <li>mga portal sa internet</li>
      <li>accounting, batas at consulting firm</li>
      <li>mga institusyong pang-edukasyon at mga asosasyong pangkalakalan</li>
    </ul>
    Aaprubahan namin ang mga kahilingan sa pag-link mula sa mga organisasyong ito kung magpapasya kami na: (a) ang link ay hindi magpapakita sa amin ng hindi maganda sa aming sarili o sa aming mga kinikilalang negosyo; (b) ang organisasyon ay walang anumang negatibong tala sa amin; (c) ang benepisyo sa amin mula sa visibility ng hyperlink ay binabayaran ang kawalan ng Kitakits.me; at (d) ang link ay nasa konteksto ng pangkalahatang mapagkukunang impormasyon.
    Maaaring mag-link ang mga organisasyong ito sa aming home page hangga't ang link ay: (a) ay hindi mapanlinlang sa anumang paraan; (b) hindi maling nagpapahiwatig ng pag-sponsor, pag-endorso o pag-apruba ng nagli-link na partido at ng mga produkto o serbisyo nito; at (c) umaangkop sa loob ng konteksto ng site ng nagli-link na partido.
    Kung isa ka sa mga organisasyong nakalista sa talata 2 sa itaas at interesadong mag-link sa aming website, dapat mong ipaalam sa amin sa pamamagitan ng pagpapadala ng e-mail sa Kitakits.me. Pakisama ang iyong pangalan, pangalan ng iyong organisasyon, impormasyon sa pakikipag-ugnayan pati na rin ang URL ng iyong site, isang listahan ng anumang mga URL kung saan mo nilalayong i-link sa aming Website, at isang listahan ng mga URL sa aming site kung saan mo gustong i-link link. Maghintay ng 2-3 linggo para sa tugon.
    Maaaring mag-hyperlink ang mga naaprubahang organisasyon sa aming Website gaya ng sumusunod:
    <ul>
      <li>Sa pamamagitan ng paggamit ng aming pangalan ng kumpanya</li>
      <li>Sa pamamagitan ng paggamit ng unipormeng tagahanap ng mapagkukunan na naka-link sa</li>
      <li>Sa pamamagitan ng paggamit ng anumang iba pang paglalarawan ng aming Website na naka-link sa na may katuturan sa loob ng konteksto at format ng nilalaman sa site ng nagli-link na partido</li>
    </ul>
    Walang paggamit ng logo ng Kitakits.me o iba pang likhang sining ang papayagan para sa pagli-link nang wala sa isang kasunduan sa lisensya ng trademark.
  </p>
  <h3 class = "topics">iFrames</h3>
  <p>Nang walang paunang pag-apruba at nakasulat na pahintulot, hindi ka maaaring lumikha ng mga frame sa paligid ng aming mga Webpage na nagbabago sa anumang paraan ng visual na presentasyon o hitsura ng aming Website.</p>
  <h3 class = "topics">Pananagutan ng Nilalaman</h3>
  <p>Hindi kami mananagot para sa anumang nilalaman na lumalabas sa iyong Website. Sumasang-ayon ka na protektahan at ipagtanggol kami laban sa lahat ng mga claim na tumataas sa iyong Website. Walang (mga) link ang dapat lumabas sa anumang Website na maaaring ipakahulugan bilang libelous, malaswa o kriminal, o lumalabag, kung hindi man ay lumalabag, o nagtataguyod ng paglabag o iba pang paglabag sa, anumang mga karapatan ng third party.
  </p>
  <h3 class = "topics">Ang iyong Privacy</h3>
  <p>Mangyaring basahin ang Patakaran sa Privacy</p>
  <h3 class = "topics">Pagpapareserba ng mga Karapatan</h3>
  <p>Inilalaan namin ang karapatang humiling na alisin mo ang lahat ng link o anumang partikular na link sa aming Website. Inaprubahan mo na agad na alisin ang lahat ng mga link sa aming Website kapag hiniling. Inilalaan din namin ang karapatang tanggapin ang mga tuntunin at kundisyon na ito at ito ay nagli-link ng patakaran anumang oras. Sa pamamagitan ng patuloy na pag-link sa aming Website, sumasang-ayon ka na sumailalim at sumunod sa mga tuntunin at kundisyon sa pagli-link na ito.
  </p>
  <h3 class = "topics">Pag-alis ng mga link mula sa aming website</h3>
  <p>Kung makakita ka ng anumang link sa aming Website na nakakasakit sa anumang dahilan, malaya kang makipag-ugnayan at ipaalam sa amin anumang sandali. Isasaalang-alang namin ang mga kahilingang mag-alis ng mga link ngunit hindi kami obligadong tumugon sa iyo nang direkta.
    Hindi namin tinitiyak na tama ang impormasyon sa website na ito, hindi namin ginagarantiyahan ang pagiging kumpleto o katumpakan nito; at hindi rin kami nangangako na tiyakin na ang website ay mananatiling available o na ang materyal sa website ay pinananatiling napapanahon.
  </p>
  <h3 class = "topics">Disclaimer</h3>
  <p>Sa pinakamataas na lawak na pinahihintulutan ng naaangkop na batas, hindi namin isinasama ang lahat ng representasyon, warranty at kundisyon na nauugnay sa aming website at sa paggamit ng website na ito. Wala sa disclaimer na ito ang:
    <ul>
      <li>limitahan o ibukod ang aming o ang iyong pananagutan para sa kamatayan o personal na pinsala</li>
      <li>limitahan o ibukod ang aming o ang iyong pananagutan para sa pandaraya o mapanlinlang na misrepresentasyon</li>
      <li>limitahan ang alinman sa aming o ang iyong mga pananagutan sa anumang paraan na hindi pinahihintulutan sa ilalim ng naaangkop na batas</li>
      <li>ibukod ang alinman sa aming o ang iyong mga pananagutan na maaaring hindi maisama sa ilalim ng naaangkop na batas</li>
    </ul>
    Ang mga limitasyon at pagbabawal ng pananagutan na itinakda sa Seksyon na ito at sa ibang lugar sa disclaimer na ito: (a) ay napapailalim sa naunang talata; at (b) pamahalaan ang lahat ng pananagutan na nagmumula sa ilalim ng disclaimer, kabilang ang mga pananagutan na nagmumula sa kontrata, sa tort at para sa paglabag sa tungkulin ayon sa batas.
    Hangga't ang website at ang impormasyon at mga serbisyo sa website ay ibinigay nang walang bayad, hindi kami mananagot para sa anumang pagkawala o pinsala sa anumang kalikasan
  </p>
  <h3 class = "topics">Batas na Namamahala at Hurisdiksyon</h3>
  <p>
    Ang interpretasyon ng Kasunduang ito ay pamamahalaan ng batas ng Hapon. Sa kaganapan ng anumang pagtatalo na may kaugnayan sa mga Serbisyo, ang eksklusibong hurisdiksyon ay ipagkakaloob sa hukuman na matatagpuan sa aming pangunahing lugar ng negosyo..
  </p>
</div>
