<h1 class = "title">Kitakits.me のプライバシーポリシー</h1>
<div class = "intro">https://kitakits.me からアクセスできる Kitakits.me では、訪問者のプライバシーを最優先事項の 1 つとしています。このプライバシー ポリシー ドキュメントには、Kitakits.me によって収集および記録される情報の種類と、その情報の使用方法が記載されています。
  追加の質問がある場合、または当社のプライバシーポリシーについて詳しい情報が必要な場合は、お気軽にお問い合わせください。
  このプライバシーポリシーは、当社のオンライン活動にのみ適用され、Kitakits.me で共有および/または収集した情報に関して、当社のウェブサイトの訪問者に有効です。このポリシーは、オフラインで収集された情報や、このウェブサイト以外のチャネルを介して収集された情報には適用されません。
</div>
<h3 class = "topics">同意</h3>
<div class="contents">
  <p>当社のウェブサイトを利用することにより、お客様は当社のプライバシーポリシーに同意し、その条件に同意するものとします。</p>
  <h3 class = "topics">収集する情報</h3>
  <p>お客様に提供していただく個人情報の内容、および提供していただく理由については、個人情報の提供をお願いする時点で明確にさせていただきます。
    当社に直接お問い合わせいただいた場合、お客様のお名前、メールアドレス、電話番号、当社に送信されたメッセージや添付ファイルの内容、その他お客様が提供することを選択した情報など、お客様に関する追加情報を当社が受け取る場合があります。
    アカウント登録時に、氏名、会社名、住所、メールアドレス、電話番号などの連絡先情報をお尋ねすることがあります。
  </p>
  <h3 class = "topics">お客様の情報の利用方法</h3>
  <p>当社は収集した情報を、以下の目的を含むさまざまな方法で使用します。
    <ul>
      <li>当社のウェブサイトの提供、運営、維持</li>
      <li>ウェブサイトの改善、パーソナライズ、拡張</li>
      <li>当社のウェブサイトの利用方法を理解し、分析します</li>
      <li>新しい製品、サービス、機能、機能性を開発する</li>
      <li>お客様と直接または当社のパートナーを通じて連絡を取り、顧客サービスを含め、ウェブサイトに関する最新情報やその他の情報を提供したり、マーケティングやプロモーションの目的で連絡を取り合ったりします。</li>
      <li>メールを送信する</li>
      <li>不正行為を発見し防止する</li>
    </p>
    <h3 class = "topics">ログファイル</h3>
    <p>Kitakits.me は、ログ ファイルを使用する標準的な手順に従います。これらのファイルは、訪問者が Web サイトにアクセスしたときにログを記録します。すべてのホスティング会社がこれを実行し、ホスティング サービスの分析の一部となっています。ログ ファイルによって収集される情報には、インターネット プロトコル (IP) アドレス、ブラウザーの種類、インターネット サービス プロバイダー (ISP)、日付とタイム スタンプ、参照/終了ページ、およびクリック数が含まれます。これらは、個人を特定できる情報にリンクされていません。この情報の目的は、傾向の分析、サイトの管理、Web サイト上のユーザーの動きの追跡、および人口統計情報の収集です。
    </p>
    <h3 class = "topics">当サイトが使用しているアクセスツール、Cookieとウェブビーコン</h3>
    <p>当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。
      Googleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。Cookieは、訪問者の好みや、訪問者がアクセスまたは訪問したウェブサイトのページなどの情報を保存するために使用されます。この情報は、訪問者のブラウザの種類やその他の情報に基づいてウェブページのコンテンツをカスタマイズし、ユーザーエクスペリエンスを最適化するために使用されます。
      Google アナリティクスのトラフィックデータは匿名で収集されており、個人を特定するものではありません。
      Cookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。
      この規約に関して、詳しくは<a href="https://policies.google.com/technologies/ads?gl=jp" target="_blank">こちら</a>をご覧ください。
    </p>
    <h3 class = "topics">広告パートナーのプライバシーポリシー</h3>
    <p>このリストを参照して、Kitakits.me の各広告パートナーのプライバシー ポリシーを確認できます。
      サードパーティの広告サーバーまたは広告ネットワークは、Kitakits.me に表示されるそれぞれの広告やリンクで使用される Cookie、JavaScript、Web ビーコンなどのテクノロジを使用しており、これらはユーザーのブラウザに直接送信されます。このとき、これらのサーバーまたは広告ネットワークは自動的にお客様の IP アドレスを受け取ります。これらのテクノロジは、広告キャンペーンの効果を測定したり、お客様がアクセスした Web サイトに表示される広告コンテンツをカスタマイズしたりするために使用されます。
      なお、Kitakits.me は、サードパーティの広告主が使用するこれらの Cookie にアクセスしたり、制御したりすることはできません。
    </p>
    <h3 class = "topics">第三者のプライバシーポリシー</h3>
    <p>Kitakits.me のプライバシー ポリシーは、他の広告主や Web サイトには適用されません。したがって、詳細については、これらのサードパーティ広告サーバーのそれぞれのプライバシー ポリシーを参照することをお勧めします。これには、特定のオプションをオプトアウトする方法に関する慣行や手順が含まれる場合があります。
      個々のブラウザオプションから Cookie を無効にすることもできます。特定の Web ブラウザでの Cookie 管理に関する詳細情報については、各ブラウザの Web サイトをご覧ください。
    </p>
    <h3 class = "topics">CCPA プライバシー権 (個人情報の販売禁止)</h3>
    <p>CCPA に基づき、カリフォルニア州の消費者には、その他の権利の中でも、以下の権利があります。
      消費者の個人データを収集する企業に対して、その企業が消費者について収集した個人データのカテゴリと具体的な部分を開示するよう要求します。
      企業が収集した消費者に関する個人データを削除するように企業に要求します。
      消費者の個人データを販売する企業に対して、消費者の個人データを販売しないよう要求します。
      ご要望をいただいた場合、当社は 1 か月以内に対応いたします。これらの権利のいずれかを行使したい場合は、当社までご連絡ください。
    </p>
    <h3 class = "topics">GDPRデータ保護の権利</h3>
    <p>
      弊社は、お客様がデータ保護に関するすべての権利を十分に認識していることを確認したいと考えています。すべてのユーザーには以下の権利があります。
      <li>アクセス権 – お客様には、個人データのコピーを要求する権利があります。このサービスには少額の手数料がかかる場合があります。</li>
      <li>訂正の権利 – お客様には、不正確と思われる情報を訂正するよう当社に要求する権利があります。また、不完全と思われる情報を補完するよう当社に要求する権利もあります。</li>
      <li>消去権 – 一定の条件下で、お客様には当社がお客様の個人データを消去することを要求する権利があります。</li>
      <li>処理を制限する権利 – 一定の条件下で、お客様には当社がお客様の個人データの処理を制限するよう要求する権利があります。</li>
      <li>処理に異議を申し立てる権利 – 一定の条件下で、お客様は当社によるお客様の個人データの処理に異議を申し立てる権利を有します。</li>
      <li>データポータビリティの権利 – 一定の条件下で、当社が収集したデータを別の組織に、または直接お客様に転送することを要求する権利があります。</li>
      ご要望をいただいた場合、当社は 1 か月以内に対応いたします。これらの権利のいずれかを行使したい場合は、当社までご連絡ください。
    </p>
    <h3 class = "topics">子どもに関する情報</h3>
    <p>当社の優先事項のもう 1 つは、インターネットを使用する子供たちの保護を強化することです。保護者の方には、子供たちのオンライン活動を観察、参加、監視、指導していただくようお願いしています。
      Kitakits.me は、13 歳未満の子供から故意に個人を特定できる情報を収集することはありません。お子様が当社の Web サイトでこの種の情報を入力したと思われる場合は、直ちに当社にご連絡ください。当社は、当社の記録からそのような情報を速やかに削除するために最善を尽くします。
    </p>
  </div>
