<h1 class = "title">Patakaran sa Privacy para sa Kitakits.me</h1>
<div class = "intro">Sa Kitakits.me, naa-access mula sa https://kitakits.me, isa sa aming mga pangunahing priyoridad ay ang privacy ng aming mga bisita. Ang dokumentong ito ng Patakaran sa Pagkapribado ay naglalaman ng mga uri ng impormasyon na kinokolekta at naitala ng Kitakits.me at kung paano namin ito ginagamit.
  Kung mayroon kang mga karagdagang tanong o nangangailangan ng karagdagang impormasyon tungkol sa aming Patakaran sa Privacy, huwag mag-atubiling makipag-ugnayan sa amin.
  Ang Patakaran sa Privacy na ito ay nalalapat lamang sa aming mga online na aktibidad at wasto para sa mga bisita sa aming website patungkol sa impormasyon na kanilang ibinahagi at/o kinokolekta sa Kitakits.me. Ang patakarang ito ay hindi naaangkop sa anumang impormasyong nakolekta offline o sa pamamagitan ng mga channel maliban sa website na ito.
</div>
<h3 class = "topics">Pagpayag</h3>
<div class="contents">
  <p>Sa pamamagitan ng paggamit sa aming website, ikaw ay sumasang-ayon sa aming Patakaran sa Pagkapribado at sumasang-ayon sa mga tuntunin nito.</p>
  <h3 class = "topics">Impormasyong kinokolekta namin</h3>
  <p>Ang personal na impormasyon na hinihiling sa iyo na ibigay, at ang mga dahilan kung bakit hinihiling sa iyo na ibigay ito, ay gagawing malinaw sa iyo sa puntong hihilingin namin sa iyo na ibigay ang iyong personal na impormasyon.
    Kung direktang makipag-ugnayan ka sa amin, maaari kaming makatanggap ng karagdagang impormasyon tungkol sa iyo tulad ng iyong pangalan, email address, numero ng telepono, mga nilalaman ng mensahe at/o mga attachment na maaari mong ipadala sa amin, at anumang iba pang impormasyon na maaari mong piliin na ibigay.
    Kapag nagparehistro ka para sa isang Account, maaari naming hilingin ang iyong impormasyon sa pakikipag-ugnayan, kabilang ang mga item tulad ng pangalan, pangalan ng kumpanya, address, email address, at numero ng telepono.
  </p>
  <h3 class = "topics">Paano namin ginagamit ang iyong impormasyon</h3>
  <p>Ginagamit namin ang impormasyong kinokolekta namin sa iba't ibang paraan, kabilang ang:
    <ul>
      <li>Ibigay, patakbuhin, at panatilihin ang aming website</li>
      <li>Pagbutihin, i-personalize, at palawakin ang aming website</li>
      <li>Unawain at suriin kung paano mo ginagamit ang aming website</li>
      <li>Bumuo ng mga bagong produkto, serbisyo, feature, at functionality</li>
      <li>Makipag-ugnayan sa iyo, direkta man o sa pamamagitan ng isa sa aming mga kasosyo, kabilang ang para sa serbisyo sa customer, upang mabigyan ka ng mga update at iba pang impormasyon na nauugnay sa website, at para sa marketing at promotional na layunin</li>
      <li>Padalhan ka ng mga email</li>
      <li>Hanapin at pigilan ang panloloko</li>
    </p>
    <h3 class = "topics">Mga Log File</h3>
    <p>Ang Kitakits.me ay sumusunod sa karaniwang pamamaraan ng paggamit ng mga log file. Ang mga file na ito ay nag-log ng mga bisita kapag bumisita sila sa mga website. Ginagawa ito ng lahat ng kumpanya ng pagho-host at isang bahagi ng analytics ng mga serbisyo sa pagho-host. Kasama sa impormasyong nakolekta ng mga log file ang mga internet protocol (IP) address, uri ng browser, Internet Service Provider (ISP), stamp ng petsa at oras, mga pahina ng pagre-refer/paglabas, at posibleng bilang ng mga pag-click. Ang mga ito ay hindi naka-link sa anumang impormasyon na personal na makikilala. Ang layunin ng impormasyon ay para sa pagsusuri ng mga uso, pangangasiwa sa site, pagsubaybay sa pagg
    </p>
    <h3 class = "topics">Gumagamit kami ng Google Analytics, isang tool sa pagsusuri ng pag-access ng Google, sa site na ito. Ang Google Analytics ay gumagamit ng cookies upang mangolekta ng data ng trapiko. Ang cookies ay ginagamit upang mag-imbak ng impormasyon tulad ng mga kagustuhan ng mga bisita at ang mga pahina na kanilang ina-access o binibisita sa website. Ang impormasyong ito ay ginagamit upang i-customize ang nilalaman ng web page batay sa mga uri ng browser ng mga bisita at iba pang impormasyon upang mai-optimize ang karanasan ng gumagamit. Ang data ng trapiko ng Google Analytics ay kinokolekta nang hindi nagpapakilala at hindi nagtatakda ng mga indibidwal. Maaari mong tanggihan ang pagkolekta ng data sa pamamagitan ng pag-disable ng cookies, kaya mangyaring suriin ang mga setting ng iyong browser. Para sa higit pang detalye sa mga tuntuning ito, mangyaring sumangguni <a href="https://policies.google.com/technologies/ads?gl=jp" target="_blank">dito</a>.
    </p>
    <h3 class = "topics">Mga Patakaran sa Privacy ng Mga Kasosyo sa Advertising</h3>
    <p>Maaari mong konsultahin ang listahang ito upang mahanap ang Patakaran sa Privacy para sa bawat isa sa mga kasosyo sa advertising ng Kitakits.me.
      Gumagamit ang mga third-party na server ng ad o ad network ng mga teknolohiya tulad ng cookies, JavaScript, o Web Beacon na ginagamit sa kani-kanilang mga advertisement at link na lumalabas sa Kitakits.me, na direktang ipinadala sa browser ng mga user. Awtomatiko nilang natatanggap ang iyong IP address kapag nangyari ito. Ang mga teknolohiyang ito ay ginagamit upang sukatin ang pagiging epektibo ng kanilang mga kampanya sa advertising at/o upang i-personalize ang nilalaman ng advertising na nakikita mo sa mga website na binibisita mo.
      Tandaan na ang Kitakits.me ay walang access o kontrol sa cookies na ito na ginagamit ng mga third-party na advertiser.
    </p>
    <h3 class = "topics">Mga Patakaran sa Privacy ng Third Party</h3>
    <p>Ang Patakaran sa Privacy ng Kitakits.me ay hindi nalalapat sa ibang mga advertiser o website. Kaya, pinapayuhan ka naming kumonsulta sa kani-kanilang Patakaran sa Privacy ng mga third-party na server ng ad na ito para sa mas detalyadong impormasyon. Maaaring kabilang dito ang kanilang mga kasanayan at tagubilin tungkol sa kung paano mag-opt out sa ilang mga opsyon.
      Maaari mong piliing huwag paganahin ang cookies sa pamamagitan ng iyong mga indibidwal na opsyon sa browser. Upang malaman ang mas detalyadong impormasyon tungkol sa pamamahala ng cookie gamit ang mga partikular na web browser, makikita ito sa kani-kanilang mga website ng mga browser.
    </p>
    <h3 class = "topics">Mga Karapatan sa Privacy ng CCPA (Huwag Ibenta ang Aking Personal na Impormasyon)</h3>
    <p>Sa ilalim ng CCPA, bukod sa iba pang mga karapatan, ang mga mamimili ng California ay may karapatan na:
      Hilingin na ang isang negosyo na nangongolekta ng personal na data ng consumer ay ibunyag ang mga kategorya at partikular na piraso ng personal na data na nakolekta ng isang negosyo tungkol sa mga consumer.
      Hilingin sa isang negosyo na tanggalin ang anumang personal na data tungkol sa consumer na nakolekta ng isang negosyo.
      Hilingin na ang isang negosyo na nagbebenta ng personal na data ng consumer, ay hindi magbenta ng personal na data ng consumer.
      Kung humiling ka, mayroon kaming isang buwan para tumugon sa iyo. Kung gusto mong gamitin ang alinman sa mga karapatang ito, mangyaring makipag-ugnayan sa amin.
    </p>
    <h3 class = "topics">Mga Karapatan sa Proteksyon ng Data ng GDPR</h3>
    <p>
      Nais naming tiyaking lubos mong nalalaman ang lahat ng iyong mga karapatan sa proteksyon ng data. Ang bawat gumagamit ay may karapatan sa mga sumusunod:
      <li>Ang karapatang mag-access – May karapatan kang humiling ng mga kopya ng iyong personal na data. Maaari ka naming singilin ng maliit na bayad para sa serbisyong ito.
      </li>
      <li>Ang karapatan sa pagwawasto – May karapatan kang humiling na itama namin ang anumang impormasyong pinaniniwalaan mong hindi tumpak. May karapatan ka ring humiling na kumpletuhin namin ang impormasyong pinaniniwalaan mong hindi kumpleto.
      </li>
      <li>Karapatang burahin – May karapatan kang humiling na burahin namin ang iyong personal na data, sa ilalim ng ilang partikular na kundisyon.
      </li>
      <li>Ang karapatang paghigpitan ang pagproseso – May karapatan kang humiling na paghigpitan namin ang pagproseso ng iyong personal na data, sa ilalim ng ilang mga kundisyon.
      </li>
      <li>TAng karapatang tumutol sa pagproseso – May karapatan kang tumutol sa aming pagproseso ng iyong personal na data, sa ilalim ng ilang partikular na kundisyon.
      </li>
      <li>Ang karapatan sa data portability – May karapatan kang humiling na ilipat namin ang data na nakolekta namin sa ibang organisasyon, o direkta sa iyo, sa ilalim ng ilang mga kundisyon.
      </li>
      Kung humiling ka, mayroon kaming isang buwan para tumugon sa iyo. Kung gusto mong gamitin ang alinman sa mga karapatang ito, mangyaring makipag-ugnayan sa amin.
    </p>
    <h3 class = "topics">Impormasyon ng mga Bata</h3>
    <p>Ang isa pang bahagi ng aming priyoridad ay ang pagdaragdag ng proteksyon para sa mga bata habang gumagamit ng internet. Hinihikayat namin ang mga magulang at tagapag-alaga na obserbahan, lumahok, at/o subaybayan at gabayan ang kanilang online na aktibidad.
      Ang Kitakits.me ay hindi sadyang nangongolekta ng anumang Personal na Makikilalang Impormasyon mula sa mga batang wala pang 13 taong gulang. Kung sa tingin mo ay nagbigay ang iyong anak ng ganitong uri ng impormasyon sa aming website, mariing hinihikayat ka naming makipag-ugnayan kaagad sa amin at gagawin namin ang aming makakaya upang agad na alisin ang naturang impormasyon mula sa aming mga talaan.
    </p>
  </div>
