.font-weight-semibold {
  font-weight: 600;
}

h1 {
  font-size: 35px;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  display: block;
  color: #000;
}

h2 {
  display: block;
  margin: 2rem;
  border-top: double;
  padding: 1.5rem;
}

h6 {
  font-size: 17px;
}
